<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    First Name<br>
    <%= form.text_field :firstname, class: "form-control" %>
  </div>

  <div class="form-group">
    Last Name<br>
    <%= form.text_field :lastname, class: "form-control"  %>
  </div>

  <div class="field">

    <%= form.radio_button :status, "active" %>
    <%= form.label :status_active, "Active" %>
    <%= form.radio_button :status, "inactive" %>
    <%= form.label :status_inactive, "Inactive" %>
  
  </div>

  <div class="form-group">
    Phone (10 digits, no hyphens)<br>
    <%= form.number_field :phone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control"  %>
  </div>

  <div class="form-group">
    Date of Birth<br>
    <%= form.date_field :dob, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :experience%>
    <%= form.text_area :experience, class: "form-control", rows: "6" %>
  </div>

  <div class="form-group">
    <%= form.label :interests %>
    <%= form.text_area :interests, class: "form-control", rows: "6"  %>
  </div>

  <div class="form-group">
    <%= form.label :lessontime %>
    <%= form.text_field :lessontime, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
