<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table bg-white">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Lesson Time</th>
      <th>Next Lesson</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>   
        <td><%= student.lessontime %></td>

        <% if student.lessons.last == nil %>
          <td> * No lessons for this student * </td>
        <% else %>
            <% if student.lessons.last.lesson_date.past? %>
              <td> * No next lesson scheduled * </td>
            <% else %>
              <td> <%= student.lessons.last.lesson_date.strftime('%a, %B %e, %l:%M %p ') %> </td>         
            <% end %>
        <% end %>

        <td><%= link_to 'Edit this Lesson', new_lesson_path(student), class: "button btn btn-info" %></td>
        <td><%= link_to 'View/Edit Student Info', student, class: "button btn btn-info" %></td>
      </tr>
    <% end %>

  </tbody>

</table>
    <%= paginate @students %>

<br>

<%= link_to 'Create New Student', new_student_path, class: "button btn btn-success" %>
