<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'All Students', students_path, class: "nav-link", id: "active" %>
  </li>
  <li class="nav-item">
    <%= link_to 'All Lessons', lessons_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create New Lesson', new_lesson_path, class:"nav-link" %>
  </li>
</ul>

<div class="header-bar">
  <h1>All Students</h1>
</div>

<table class="table bg-white">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lesson Time</th>
      <th>Next Lesson</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_last_name %></td>  
        <td><%= student.lessontime %></td>

        <% if student.lessons.last == nil %>
          <td> * No lessons for student * </td>
        <% else %>
            <% if student.lessons.last.lesson_date.past? %>
              <td> * No next lesson scheduled * </td>
            <% else %>
              <td> <%= student.lessons.last.lesson_date.strftime('%a, %B %e, %l:%M %p ') %> </td>         
            <% end %>
        <% end %>

        <% if student.lessons.last != nil %>
        <td><%= link_to 'Edit Lesson', edit_lesson_path(student.lessons.last), class: "button btn btn-info" %></td>
        <% else %>
        <td></td>
        <% end %>

        <td><%= link_to 'View/Edit Student', student, class: "button btn btn-info" %></td>
      </tr>
    <% end %>

  </tbody>

</table>
    <%= paginate @students %>

<br>

<%= link_to 'Create New Student', new_student_path, class: "button btn btn-success" %>
