<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Lesson Time</th>
      <th>Next Lesson</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>   
        <td><%= student.lessontime %></td>
        <td> </td>
        <td><%= link_to 'Add Lesson Note', new_lesson_path(student), class: "button btn btn-info" %></td>
        <td><%= link_to 'View/Edit Student Info', student, class: "button btn btn-info" %></td>
      </tr>
    <% end %>

  </tbody>

</table>
    <%= paginate @students %>

<br>

<%= link_to 'Create New Student', new_student_path, class: "button btn btn-success" %>
