<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'All Students', students_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'All Lessons', lessons_path, class:"nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to 'Create New Lesson', new_lesson_path, class:"nav-link" %>
  </li>
</ul>

<div class="header-bar">
  <h1>Student Information</h1>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card student-card">
        <div class="card-header">
          <h3><strong>Name:</strong>
          <%= @student.firstname %> <%= @student.lastname %></h3>
        </div>
        <div class="card-body">
          <p><strong>Status: </strong>
                    <% if @student.status != nil %>
                    <%= @student.status %> 
                    <% end %> 
          </p>

          <p>
            <strong>Lesson Time:</strong>
            <%= @student.lesson_time %>
          </p>
          <hr>
          <p>
            <strong>Phone:</strong>
            <%= number_to_phone(@student.phone, area_code: true) %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @student.email %>
          </p>

          <p>
            <strong>Date of Birth:</strong>
            <%= @student.dob %>
          </p>
           <hr>
          <p>
            <strong>Experience:</strong>
            <%= markdown (@student.experience) %>
          </p>

          <p>
            <strong>Interests:</strong>
            <%= markdown (@student.interests) %>
          </p>

                <%= link_to 'Edit Student Info', edit_student_path(@student), class: 'button btn btn-info' %>
 
        </div>

      </div>

  </div>

  <div class="col-md-2 middle-links">

    <%= link_to 'New Lesson for This Student', new_lesson_path(student_id: @student.id), class: 'button btn btn-info' %>

    <%= link_to 'All Lessons for This Student', student_lessons_path(id: params[:id]), class: 'button btn btn-info' %> 
  </div>

  <div class="col-md-5">

      <% @lessons.each do |lesson| %>
        <div class="card">
          <div class="card-header">
            <h3><strong>Lessons</strong></h3>
          </div>
          <div class="card-body">
            <strong>Lesson Date:</strong>
            <% if lesson.lesson_date != nil %>
           <%= lesson.lesson_date.strftime("%b %d, %Y | %l:%M %p") %>
           <% end %>
          <div class="header-reminder">
            <strong>Reminder:</strong><br>
           <%= markdown lesson.reminder %>
         </div>
           <p> <strong>Notes to Student: </strong><br>
            <%= markdown lesson.studentnote %> </p>
          <hr>

              <p><strong>Status: </strong><% if lesson.status != nil %>
              <%= lesson.status.humanize %>
              <% end %> 
              </p>
              <p> <strong>Grade: </strong><%= lesson.grade %></p>
            <p class="card-text">
            <p> <strong>Teacher Notes: </strong><br><%= markdown lesson.teachernote %> </p>
           

            <%= link_to 'Edit/Complete This Lesson', edit_lesson_path(lesson), class: 'button btn btn-info' %><br>
            <%= paginate @lessons %><br>
            

          </div>
        </div>
      <% end %>

  </div>

</div>   
