<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6"
    <p>
      <strong>First Name:</strong>
      <%= @student.firstname %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= @student.lastname %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= number_to_phone(@student.phone, area_code: true) %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @student.email %>
    </p>

    <p>
      <strong>Date of Birth:</strong>
      <%= @student.dob %>
    <!--   .strftime("%B %e, %Y") -->
    </p>

    <p>
      <strong>Experience:</strong>
      <%= @student.experience %>
    </p>

    <p>
      <strong>Interests:</strong>
      <%= @student.interests %>
    </p>

    <p>
      <strong>Lesson Time:</strong>
      <%= @student.lessontime %>
    </p>

    <%= link_to 'New Lesson Notes', new_lesson_path, class: 'button btn btn-info' %>




  </div>

  <div class="col-md-6">
    <h1> Most recent lesson </h1>
      <% @student.lessons.each do |lesson| %>
        <div class="card">
          <div class="card-header">
              <%= lesson.created_at %> 
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= lesson.status %> | <% lesson.grade %></h5>
            <p class="card-text">
            <p> <strong>Teacher Notes: </strong><%= lesson.teachernote %> </p>
            <p> <strong>Notes to Student: </strong><%= lesson.studentnote %> </p>
            <p> <strong>Reminder: </strong><%= lesson.reminder %> </p>
            <p> <strong>Next lesson: </strong><%= lesson.nextlesson %> </p>

          </div>
        </div>
      <% end %>

  </div>

      <table class="table">
      <tr>
        <td>
          <%= link_to 'Edit Student Info', edit_student_path(@student), class: 'button btn btn-info' %>
        </td>
        <td>
          <%= link_to 'Delete Student', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button btn btn-danger' %> 
        </td>
        <td>
          <%= link_to 'Back to All Students', students_path, class: 'button btn btn-info' %>
        </td>
      </tr>
    </table>
</div>
