<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h2>Enter Lesson Notes:</h2>

    <div class="field">
    <%= form.collection_select :student_id, Student.all, :id, :first_last_name %>
   </div>
   <br>

  <div class="field">
  <%= form.label :lesson_date %>
   <%= form.datetime_field :lesson_date %>
  </div>

  <div class="field">

    <%= form.radio_button :status, "completed" %>
    <%= form.label :status_completed, "Completed" %>
    <%= form.radio_button :status, "cancelled" %>
    <%= form.label :status_cancelled, "Cancelled" %>
    <%= form.radio_button :status, "no_show" %>
    <%= form.label :status_no_show, "No-Show" %><br>
  
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
    <%= form.label :teachernote %>
    <%= form.text_area :teachernote %>
  </div>

  <div class="field">
    <%= form.label :studentnote %>
    <%= form.text_area :studentnote %>
  </div>

  <div class="field">
    <%= form.label :reminder %>
    <%= form.text_area :reminder %>
  </div>

  <div class="field">
    <%= form.label :next_lesson %>
    <%= form.datetime_field :next_lesson %>
  </div>

  <input type="text" data-provide='datepicker' >

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
