<p id="notice"><%= notice %></p>

<div class="row header-bar">
  <h1>All Lessons</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lesson Date</th>
      <th>Status</th>
      <th>Grade</th>
      <th>Reminder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.student.firstname, show_student_path(id: lesson.student_id) %> <%= lesson.student.lastname %></td>
        <td><%= lesson.lesson_date.strftime('%B %e, %l:%M %p ') %></td>
        <td><%= lesson.status.try(:humanize) %></td>
        <td><%= lesson.grade %></td>
        <td><%= lesson.reminder %></td>
        <td><%= link_to 'View', lesson, class: 'button btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson), class: 'button btn btn-info' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
