<p id="notice"><%= notice %></p>

<h2> Lesson </h2>

<p>
  <strong>Student:</strong>
  <%= @lesson.student.firstname %> <%= @lesson.student.lastname %>
</p>

<p>
  <strong>Lesson Date:</strong>
  <%= @lesson.lesson_date.strftime("%b %d, %Y") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lesson.status %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @lesson.grade %>
</p>

<p>
  <strong>Teachernote:</strong>
  <%= @lesson.teachernote %>
</p>

<p>
  <strong>Studentnote:</strong>
  <%= @lesson.studentnote %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @lesson.reminder %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Set up Next Lesson', new_lesson_path %> |
<%= link_to 'Back', lessons_path %>
<h3> Link to Student's Show Page </h3>
