<!DOCTYPE html>
<html>
  <head>
    <title>Lesson Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">Lesson Notes</a>
      <ul class="navbar-nav mr-auto">
        <!-- in case there are other links someday -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%=link_to 'Edit Your Profile', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
             <%= link_to 'Sign In', new_user_session_path %>
           </li>
          <% end %>
      </ul>
      
    </nav>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'All Students', students_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Lessons', lessons_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Create New Lesson', new_lesson_path, class:"nav-link" %>
      </li>
  </ul>


    <div class="container">



     <%= yield %>


    </div>


  </body>
</html>
