<!DOCTYPE html>
<html>
  <head>
    <title>Lesson Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">Lesson Notes</a>
      <ul class="navbar-nav mr-auto">
        <!-- in case there are other links someday -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= current_user.email %>
          </li>
          <li>
            <%=link_to 'Edit Your Profile', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
             <%= link_to 'Sign In', new_user_session_path %>
           </li>
          <% end %>
      </ul>
      
    </nav>


      <div class="quote-bar">
        <% if Quote.all.count != 0 %>
          <blockquote class="blockquote mb-0">
            <%= Quote.all.sample.quote %> 
            <footer class="blockquote-footer">
              <%= Quote.all.sample.author %>
            </footer>
        </blockquote>
          <% end %>
      </div>



    <div class="container">


     <%= yield %>
     
   </div>


<footer class="page-footer">
  <p>© Lesson Notes 2018</p>
</footer>

  </body>
</html>
